<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/home.css">
    <title>--Sneakers--</title>
</head>
<body>

    <nav class="nav-bar">
        <img src="../986ec700-a486-4b58-aef3-1add353d329c.webp" alt="Logo da Loja" class="logo">
        <a href="../index.html" class="nav-link">Sneakers</a>
    </nav>

    <h1 class="title">Tênis</h1>


    <section>
        <h2>Nike</h2>
        <div class="product-grid">
            <div class="product">
                <a href="../view/produto-nike-air-max-1.html" >
                    <img src="../images/Nike Air Max 1.avif" alt="Nike Air Max 1">
                    <h3>Nike Air Max 1</h3>
                    <p>R$ 599,99</p>
                    <p>Avaliação: 4,3 estrelas</p>
                </a>   
            </div>
            <div class="product">
                <a href="../view/Nike Air Force 1.html" >
                    <img src="../images/Nike Air Force 1.avif" alt="Nike Air Force">
                    <h3>Nike Air Force 1</h3>
                    <p>R$ 499,99</p>
                    <p>Avaliação: 4,7 estrelas</p>
                </a>    
            </div>
            <div class="product">
                <a href="../view/Nike Pegasus.html"   >
                    <img src="../images/Nike Pegasus.avif" alt="Nike Pegasus">
                    <h3>Nike Pegasus</h3>
                    <p>R$ 529,99</p>
                    <p>Avaliação: 4,5 estrelas</p>
                <a/>    
            </div>
           
        </div>
    </section>

   
    <section>
        <h2>Adidas</h2>
        <div class="product-grid">
            <div class="product">
                <a href="../view/Adidas Campus.html" >
                    <img src="../images/adidas campus.avif" alt="Adidas Ultraboost">
                    <h3>Adidas Campus</h3>
                    <p>R$ 699,99</p>
                    <p>Avaliação: 4,8 estrelas</p>
                </a>
            </div>
            <div class="product">
                <a href="../view/Adidas NMD R1 43.html" >
                    <img src="../images/Adidas NMD.png" alt="Adidas NMD">
                    <h3>Adidas NMD R1 43</h3>
                    <p>R$ 599,99</p>
                    <p>Avaliação: 4,6 estrelas</p>
                </a>
            </div>
            <div class="product">
                <a href="../view/Adidas Ozweego.html" >
                    <img src="../images/Adidas Ozweego 2.png" alt="Adidas Ozweego">
                    <h3>Adidas Ozweego</h3>
                    <p>R$ 549,99</p>
                    <p>Avaliação: 4,4 estrelas</p>
                </a>
            </div>
            
        </div>
    </section>

  
    <section>
        <h2>Puma</h2>
        <div class="product-grid">
            <div class="product">
                <a href="../view/Puma Suede.html" >
                    <img src="../images/puma suede.avif" alt="Puma Suede">
                    <h3>Puma Suede</h3>
                    <p>R$ 399,99</p>
                    <p>Avaliação: 4,1 estrelas</p>
                </a>
            </div>
            <div class="product">
                 <a href="../view/Puma RS-X.html" >
                    <img src="../images/Puma RS-X.jpeg" alt="Puma RS-X">
                    <h3>Puma RS-X</h3>
                    <p>R$ 479,99</p>
                    <p>Avaliação: 4,3 estrelas</p>
                </a>
            </div>
            <div class="product">
                <a href="../view/Puma Cali.html">
                    <img src="../images/Puma Cali.avif" alt="Puma Cali">
                    <h3>Puma Cali</h3>
                    <p>R$ 449,99</p>
                    <p>Avaliação: 4,2 estrelas</p>
                </a>
            </div>
           
        </div>
    </section>

   
    <footer>
        <p>© 2024 Sneakers. Todos os direitos reservados.</p>
        <p>Contato: sneakers@loja.com | Telefone: (11) 9999-9999</p>
    </footer>

</body>
</html>
