<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/produto-nike-air-max-1.css">
    <title>Detalhes do Produto - Puma Cali</title>
</head>
<body>
 
    <nav class="nav-bar">
        <img src="../986ec700-a486-4b58-aef3-1add353d329c.webp" alt="Logo da Loja" class="logo">
        <a href="../view/home.html" class="nav-link"> clique aqui para voltar ➔ Sneakers</a>
    </nav>


    <section class="product-details">
        <div class="product-image-container">
            <img src="../images/Puma Cali.avif"Nike Air Max 1" class="product-image">
        </div>
        <div class="details">
            <h1>Puma Cali</h1>
            <p class="price">R$ 449,99</p>
            <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star half">&#9733;</span>
                <span class="rating-text">4,2 estrelas</span>
            </div>

            
            <label for="size" class="size-label">Selecione o tamanho:</label>
            <div class="size-selector">
                <select id="size" name="size" class="size-dropdown">
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                </select>
            </div>

           
            <button class="buy-button">Comprar Agora</button>
        </div>
    </section>

  
    <footer>
        <p>© 2024 Sneakers. Todos os direitos reservados.</p>
        <p>Contato: sneakers@loja.com | Telefone: (11) 9999-9999</p>
    </footer>

</body>
</html>